HELP.md
/bp/target/
/bp/!.mvn/wrapper/maven-wrapper.jar

### STS ###
/bp/.apt_generated
/bp/.classpath
/bp/.factorypath
/bp/.project
/bp/.settings
/bp/.springBeans
/bp/.sts4-cache

### IntelliJ IDEA ###
/bp/.idea
/bp/*.iws
/bp/*.iml
/bp/*.ipr

### NetBeans ###
/bp/nbproject/private/
/bp/nbbuild/
/bp/dist/
/bp/nbdist/
/bp/.nb-gradle/
/bp/build/

### VS Code ###
/bp/.vscode/
